:root {
  --primary: #4b0082;
  --secondary: #b39eb5;
  --tertiary: #f4f1fa;
  --text1: #3f2a45;
  --text2: #c49e3a;
  --text3: #f7f4ea;
  --text4: #d7a3c7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  background-color: var(--secondary);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-player,
.currentplaying-container,
.playlist-container {
  background-color: var(--primary);
}

.music-player {
  border: 1px solid var(--primary);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.currentplaying-container,
.playlist-container {
  border: 1px solid var(--secondary);
}

.currentplaying-container {
  height: 40%;
}

.playlist-container {
  height: 60%;
}
