:root {
  --primary: #4b0082;
  --secondary: #b39eb5;
  --tertiary: #f4f1fa;
  --text1: #3f2a45;
  --text2: #c49e3a;
  --text3: #f7f4ea;
  --text4: #d7a3c7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  background-color: var(--secondary);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-player,
.currentplaying-container,
.playlist-container {
  background-color: var(--primary);
}

.music-player {
  border: 1px solid var(--primary);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.currentplaying-container,
.playlist-container {
  background-color: #3a0d5a;
}

.currentplaying-container {
  height: 40%;
  display: flex;
  flex-direction: column;
}

.playlist-container {
  height: 60%;
  border-top: 1px solid var(--secondary);
}

.current-music,
.music-icons {
  width: 100%;
}

button i {
  font-size: 15px;
  color: var(--text3);
}

.music-icons {
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.current-music {
  padding: 15%;
}

ul {
  list-style: none;
}

ul li button {
  font-family: "Courier New", Courier, monospace;
}

.current-music p {
  color: var(--text2);
  text-align: center;
}

.current-music p:last-of-type {
  color: var(--text3);
  font-size: 12px;
}

.all-songs button {
  color: var(--text4);
}

.all-songs li {
  width: 100%;
}
.all-songs button {
  width: 100%;
  text-align: left;
  padding: 5px;
}

.all-songs span {
  display: inline-block;
}

span.music-name {
  width: 50%;
}

span.artist {
  width: 50px;
  text-align: left;
}

span.duration {
  width: 40px;
  text-align: left;
}

button:hover,
i:hover {
  color: var(--text2);
}
